* {
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    border: 2px solid olivedrab;
    width: 100%;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
   background: url(../imagenes/fondo4.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    border: 2px solid black;
}

.logo{
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;  
}

.logo img{
    height: 100px ;  
}
@media only screen and (max-width: 275px){
    .logo img{
        height: 50px ;  
    }

}
.menu{
    display: flex;
    width: 100%;
      
}

.boton{
    display: none;
}

.cajaDeBotones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}
.cajaDeBotones a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;   /*transforma en mayusculas todas las letras*/
    letter-spacing: 1px;
    margin: 0px 25px;
    font-size: 18px;
}
.cajaDeBotones a:hover{
    border-bottom: 2px solid black;
}

.vacio{
    height: 1000px;
    width: 100%;
    margin-top: 125px;
    background: skyblue;
}

@media only screen and (max-width: 740px)
{
   header{
        flex-direction: column;
    }
    .logo{
        justify-content: space-between;
        padding-right: 40px;
        width: 100%;
        border-bottom: 1px solid gray ;
    }
    .logo img{
        padding-left: 60px;
       
    }
    .boton{
        border: 0px;
        background: #3C4048;
        display: flex;
        color: #B2B2B2;
        font-size: 30px;
        justify-content: center;
    }
    
    .menu{
        flex-direction: column;
    }
    .cajaDeBotones{
        display: none;
    }
    .open
    {
        display: flex;
        flex-direction: column;
        text-align: center;        
    }
    .cajaDeBotones a{
        font-size: 15px;
        margin: 0px;
        border-bottom: 1px solid gray ;
    }
    .cajaDeBotones a:hover{
        
        border: 0px;
        background: gray;
    }
}


/*-----------------footer----------------------------*/


.pieDePagina{
    position: static;
    display: flex;
   background: url(../imagenes/catblack.jpg);
    background-position: bottom;
    background-attachment: contain;
    background-size: cover;
    margin-top: 20px;
    width: 100%;
    height: 200px;
}

footer{
    display: flex;
    width: 100%;
}
footer div{
    flex:auto
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

footer p{
    color: white;
    font-size: 20px;
}

.cont p{
    margin-left: 30px;
}




/*----------------- SERVICIOS----------------------------*/
.vacio1{
    height: 125px;
}
.contenedor{
    position: relative;
    width: 100%;
    border-radius: 6px;
    overflow: scroll;
    z-index: -1;
}

.infinity{
    display: flex;
    display: 100%;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: miAnimacion;
    animation-duration: 8s;
    animation-duration: alternate ;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
 .item-infinity{
    position: static;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
 }
.infinity img{
    max-width: 100%;
}

@keyframes miAnimacion {

    25%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(-100%,0,0);
    }
    75%{
        transform: translate3d(-200%,0,0);
    }
    100%{
        transform: translate3d(-300%,0,0);
    }
   
}


.contenido{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-top: 20PX;
    border: 2px solid red;
}
 .main{
    display: flex;
    flex-direction: row;
    flex: 3;
    flex-wrap: wrap;

 }
.caja{
    flex: 40%;     /*toma el 40% del tamaño del padre*/
    display: flex;
    width: 100%;
}
section img{
    height: 100px;
    width: 100px;
}
.publicidad{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
}

.publi{
    flex: 1;
}