* {
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    background: url(../imagenes/fondo4.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}

main{
    border: 2px solid black;
    padding-top:120px ;
}

.logo{
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;  
}

.logo img{
    height: 100px ;
    
   
}

.menu{
    display: flex;
    width: 100%;
      
}

.boton{
    display: none;
}

.cajaDeBotones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}
.cajaDeBotones a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;   /*transforma en mayusculas todas las letras*/
    letter-spacing: 1px;
    margin: 0px 25px;
    font-size: 18px;
}
.cajaDeBotones a:hover{
    border-bottom: 2px solid black;
}



@media only screen and (max-width: 740px)
{
   header{
        flex-direction: column;
    }
    .logo{
        justify-content: space-between;
        padding-right: 40px;
        width: 100%;
        border-bottom: 1px solid gray ;
    }
    .logo img{
        padding-left: 60px;
       
    }
    .boton{
        border: 0px;
        background: #3C4048;
        display: flex;
        color: #B2B2B2;
        font-size: 30px;
        justify-content: center;
    }
    
    .menu{
        flex-direction: column;
    }
    .cajaDeBotones{
        display: none;
    }
    .open
    {
        display: flex;
        flex-direction: column;
        text-align: center;        
    }
    .cajaDeBotones a{
        font-size: 15px;
        margin: 0px;
        border-bottom: 1px solid gray ;
    }
    .cajaDeBotones a:hover{
        
        border: 0px;
        background: gray;
    }
}