.vacio1{
    border: 2px solid rgb(167, 18, 97);
    margin-bottom: 50px;
}
.contenedor{
    position: relative;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    z-index: -1;
    border: 2px solid black;
}

.infinity{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: miAnimacion;
    animation-duration: 8s;
    animation-duration: alternate ;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
 .item-infinity{
    position: static;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
 }
.infinity img{
    max-width: 100%;
}

@keyframes miAnimacion {

    25%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(-100%,0,0);
    }
    75%{
        transform: translate3d(-200%,0,0);
    }
    100%{
        transform: translate3d(-300%,0,0);
    }
   
}


.contenido{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin: 20px;
    border: 2px solid red;
}
 .main{
    display: flex;
    flex-direction: row;
    flex: 3;
    flex-wrap: wrap;

 }
.caja{
    flex: 40%;     /*toma el 40% del tamaño del padre*/
    display: flex;
    width: 100%;
}
section img{
    height: 200px;
    width: 300px;
}
.publicidad{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
}

.publi{
    flex: 1;
}