* {
    margin: 0px;
    padding: 0px;
}
/*configuro  el contenedor del header*/
header{
    position: fixed;
    width: 100%;
    height: 125px;
    background: rgb(6, 95, 109);
}

/*configuro  el contenedor que contendrá el logo*/
.ancho{
    width: 80%;
    height: 125px;
    margin: auto;      /*reparten el margen automaticamente*/
}

/*configuro el contenedor del logo*/
.logo{
    width: 20%;
    height: 125px;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;
}
/*configuro el contenedor de nav*/
nav{
    width: 80%;
    height: 125px;
    float: left;
    text-align: center;
    padding-top: 50px;
    margin: auto;
    box-sizing: border-box;
}
/*modifico el orden de la lista en forma horizontal*/
nav ul li {
    display: inline;
}

/*configuro las letras de los botones del menú*/
nav ul li a{
    color: black;
    text-transform: uppercase;   /*transforma en mayusculas todas las letras*/
    text-decoration: none;      /*le quito el subrayado predeterminado de nav*/
    letter-spacing: 1px;        /*espacio entre letras*/
    padding-left: 80px;

}

main{
    padding-top: 160px;
}